.btn-close{
    font-size: 25px !important;
    color: white !important;
    background-color: white !important;
    /* background: none !important;
    opacity: 1 !important;
    margin-bottom: 10px !important; */
}