.contennt{
    background-color: #4a0176;
}

.FaArrowDown{
    color: white !important;
    font-size: 17px;
    font-weight: 700;
    margin-top: 20px;
    margin-left: -15px;
}

.bnbRotate {
    background-image: url(../../Assets/whe.png);
    animation: animName 3s linear infinite;
    width: 48px;
    height: 48px;
    background-size: cover;
    position: absolute;
    left: 0;
}

.btn-success {
    background: linear-gradient(90deg,#9113df,#6400ff)!important;
}

.btn-primary.focus, .btn-primary:focus {
    box-shadow: none;
}

.btn:focus{
    box-shadow: none;
}

.tools_img{
    font-size: 20px;
    cursor: pointer;
}

.modal-content{
    background-color: #3e0064;
    border-radius: 7px;
    padding: 7px 15px 3px 15px;
    box-shadow: 0px 0px 10px -5px rgb(108 108 109);
    border: 2px solid #fff;
}

@media screen and (max-width:800px) {
    .css-19kzrtu{
        padding: 0px !important;
    }
    .pool_tab{
        justify-content: center !important;
        background: transparent !important;
    }

    .eth_img{
        flex-direction: column;
        display: flex !important;
    border-radius: 50% !important;
    height: 57px !important;
    width: 57px !important;
    padding: 6px 15px;
    }

    .seting{
        justify-content: center;
        margin-top: 7px;
        margin-bottom: 5px;
    }

    .tools_img{
        margin-right: 10px;
    }
/* 
    .all_token{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } */

    
}

@media screen and (max-width:375px) {
    .eth_img{
    margin-right: 7px;
    margin-left: -10px;
    }

    
}

@media screen and (max-width:500px) {
    .farm_usd_set{
        margin-bottom: 10px;
    }
}

@media (min-width:375px) and (max-width:424px) {
    .eth_img{
    margin-right: 5px;
    margin-left: -4px;
    }
}

@media (min-width:321px) and (max-width:800px) {
    /* .ennline{
        display: flex !important;
        justify-content: space-between !important;
    } */

    .tools_img{
        padding: 0;
    }
}

.css-1aquho2-MuiTabs-indicator{
    display: none;
}

.eth_img{
    display: flex;
}

.exchange_arrow{
    cursor: pointer;
}