

.css-12i7wg6-MuiPaper-root-MuiDrawer-paper{
    background-color: #520b9e !important;
}

.accordion{
    --bs-accordion-color: white;
    --bs-accordion-bg: #520b9e;
    --bs-accordion-active-color: none !important;
    --bs-accordion-btn-focus-border-color: none !important;
    --bs-accordion-btn-focus-box-shadow: none !important;
}

.accordion-button{
    color: white;
}

.DrawerHeader img{
    width: 30px;
}


.accor_body{
    display: flex;
    flex-direction: column;
}

.accor_item{
    margin-bottom: 12px;
}

.accor_head{
    font-size: 30px !important;
}

.dev{
    color: white;
}

.dev_lenk{
    /* background-color: #520b9e !important; */
    /* border: 1px solid white;
    border-bottom: none !important; */
    border-radius: 4px 4px 0 0;
    border: 1px solid white;
}

.css-jzk4qw-MuiPaper-root-MuiAppBar-root{
    background-color: #520b9e !important;
}


.css-hyum1k-MuiToolbar-root{
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

@media (min-width:800px) and (max-width:1000000px) {
    .drawwer_main{
        display: none !important;
    }
}

.css-8u39c-MuiTypography-root{
    margin-left: 10px !important;
}

.drawwwe img{
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 17px;
    margin-right: 55px;
    margin-bottom: 16px;
}

/* .css-ciy9n4-MuiPaper-root-MuiAppBar-root{
    background-color: #520b9e !important;
} */

.accordion-button::after{
    background-image: url(../../Assets/arrow_down-removebg.png) !important;
}

.accordion-button:not(.collapsed){
    background-color: #520b9e !important;
    color: white !important;
    box-shadow: none !important;
}

.css-1l8j5k8{
    background-color: #520b9e !important;
}